.card {
    height: 70%;
    width: 600px;
    border: 5px solid black;
}

.image {
    padding-bottom: 80%;
    background-image: url("../image/photo_2021-08-22_22-02-48.png");
    background-repeat: no-repeat;
}